@import "bourbon";

*,*:before,*:after {@include box-sizing(border-box);}

$green: #00e0ad;
$blue: #01dcf7;
$orange: #e74c3c;

$wht: #fbfbfb;
$drk: #252525;
$drkalt: lighten($drk,11%);

$red: #ff4444;

$font: "Open Sans";

body {
	font-family: $font;
	font-weight: 300;
	background: $wht;
	color: $drk;
}

a {
	color: $blue;
	&:hover {
		color: lighten($blue,10%);
	}
}
.demo-header {
	padding: 1em 0;
	background: $drk;
	color: $wht;
	border-bottom: 2px solid $drkalt;
}

.demo-header_left {
	text-align: left;
}
.demo-header_right {
	text-align: right;

	a {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		font-size: .9em;

		&:hover span {
			right: 110%;
		}
	}
	span {
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: 0;
		position: absolute;
		top: .3em;
		right: 105%;
		@include transition(right .1s ease);
	}
}

#main {
	padding: 20px 0 80px;
}

.demo-top {
	padding: 1.5em 0 1.2em;
	text-align: center;
	h1 {
		margin: 0;
	}
}

.demo-footer {
	padding: 1em 0;
	text-align: center;
	p {
		margin: 0;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: $font;
	line-height: 1.2;
}





input:not([type="submit"]), textarea, select, fieldset {
	background-color: #fff;
	box-shadow: none;
	border-radius: 2px;
	outline: none;
	&:focus {
		background-color: #fff;
		box-shadow: none;
	}
}


.error {

	input:not([type="submit"]), textarea, select, fieldset {
		background-color: lighten($red, 34%);
	}

	small.error {
		font-style: normal;
		border-radius: 4px;
		background: $red;
		display: block;
		margin-top: .5em;
		font-weight: 700;
	}
}


small.error {
	display: none;
}

#form-headline {
	text-align: center;
	font-weight: 700;
	margin: 0 0 2em;
}


#submit {
	position: relative;
	border-radius: 2px;
	letter-spacing: 1px;
	outline: none;
	display: block;
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: .8em 4em;
	background: $drk;
	color: $wht;
	border: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 5px rgba($drk,.25);

	&:active {
		top: 1px;
		box-shadow: none;
	}
}
